:root {
  font-family: "Arial", sans-serif;
  color: #333;
  background-color: #fff;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background-color: #fff;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}
